</div>

<footer class="mt-auto">
  <div class="contact">
  <h2>Contact:</h2>
    <br>
    <ul>
      <li>Email:</li><span>Jamillademoor@gmail.com</span><br>
      <li>Tel:</li><span>061122334455</span><br>
      <li>Instagram:</li><span>@muahJamilla</span><br>
    </ul>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/slide.js"></script>
</body>
</html>
